<div>
    <h3>{{vm.title}}</h3>
    <label class="control-label">First Name:</label>
    <input class="form-control" type="text" ng-model="vm.attendee.FirstName"/>
    <br/>
    <label class="control-label">Middle Name:</label>
    <input class="form-control" type="text" ng-model="vm.attendee.MidName"/>
    <br/>
    <label class="control-label">Last Name:</label>
    <input class="form-control" type="text" ng-model="vm.attendee.LastName"/>
    <br/>
    <label class="control-label">Age:</label>
    <input class="form-control" type="text" ng-model="vm.attendee.Age"/>
    <br/>
    <label class="control-label">Email Address:</label>
    <input class="form-control" type="text" ng-model="vm.attendee.EmailAddress"/>
    <br/>
    <span class="pull-right">
        <button class="btn btn-success" ng-click="vm.saveUpdate();">Save</button>
        <button class="btn btn-default" ng-click="vm.back();">Back</button>
    </span>
</div>